/*============================
  Accessibilité :

  Bouton Mode Nuit
============================== */


.btnSombre>h2 {
  text-align: center;

}
#btnSombreLabel {
  text-align: center;
}
.btnSombre{
  position:relative;
  left:47%;
}
.btnSombre .switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.btnSombre .switch input {
  display:none;
}

.btnSombre .slider {
  background-color: var(--orange_sombre);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

  .btnSombre>.slider.SombreBtn {
  background-color: var(--vert_btn);
}

.btnSombre .slider:before {
  background-color: var(--beige);
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}



.btnSombre input:checked + .slider:before {
  transform: translateX(26px);
}

.btnSombre .slider.round {
  border-radius: 34px;
}

.btnSombre .slider.round:before {
  border-radius: 50%;
}

/* ==============================
  Bouton Mode Malvoyant
============================== */

.btnMalvoyant>h2 {
  text-align: center;

}
#btnMalvoyantLabel {
  text-align: center;
}
.btnMalvoyant{
  position:relative;
  left:47%;
}
.btnMalvoyant .switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.btnMalvoyant .switch input {
  display:none;
}

.btnMalvoyant .slider {
  background-color: var(--orange_malvoyant);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}
.btnMalvoyant>.slider.MalvoyantBtn {
  background-color: var(--vert_btn);
}

.btnMalvoyant .slider:before {
  background-color: var(--beige);
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

.btnMalvoyant input:checked + .slider:before {
  transform: translateX(26px);
}

.btnMalvoyant .slider.round {
  border-radius: 34px;
}

.btnMalvoyant .slider.round:before {
  border-radius: 50%;
}

/* ==============================
  Bouton Mode Daltonien
============================== */

.btnD {
  position: relative;
  left: 47%;
}

.btnD .switch {
  display: inline-block;
  height: 34px;
  width: 60px;
  position: relative;
}

.btnD input {
  display: none;
}

.btnD .slider {
  position: absolute;
  inset: 0;
  cursor: pointer;
  background-color: var(--gris_clair);
  transition: .4s;
  border-radius: 34px;
}

.btnD .slider:before {
  content: "";
  position: absolute;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--beige);
  transition: .4s;
  border-radius: 50%;
}

.btnD input:checked + .slider {
  background-color: var(--vert_btn);
}

.btnD input:checked + .slider:before {
  transform: translateX(26px);
}


/* ==============================
              Favoris
============================== */

 .btn-favori {
            background: var(--orange_sombre);
            color: var(--white);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
        }
        .btn-favori.active {
            background: var(--rouge);
        }
        .btn-favori:hover {
            background: var(--rouge);
        }
        .btn-favori.active:hover {
            background: var(--rouge);
        }